body {
  background: #f6f7fb;
}

.quick-card {
  display: block;
  padding: 15px;
  background: white;
  border-radius: 12px;
  transition: 0.3s;
  text-decoration: none;
  color: #000;
}

.quick-card img {
  height: 40px;
  margin-bottom: 8px;
}

.quick-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.facility-card {
  border-left: 5px solid #0d6efd;
}
